.about-me p {
  font-size: larger;
  margin: 0px;
  padding: 0.5rem;
  justify-self: center;
}

.bio {
  margin: 1rem;
}
@media (prefers-color-scheme: light) {
  a:hover {
    color: #aaaef9;
  }
  button {
    background-color: #f9f9f9;
  }
}

.headshot h3 {
  border-bottom: 1px solid black;
  width: fit-content;
  text-wrap: nowrap;
}
@media (max-width: 540px) {
  .bio .headshot {
    float: none;
    margin: 0 0 0 0;
  }
  .headshot h3 {
    text-wrap: balance;
  }
  .bio {
    margin: 1rem auto 1rem auto;
    float: none;
    width: auto;
    display: flex;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .headshot img {
    width: auto;
    height: auto;
    box-shadow: #494949 4px 2px;
  }

  .about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

img {
  max-width: 1280px;
  height: auto;
  margin: 0.5em;
}
hr {
  display: block;
  margin: 0.5rem;
  padding: 0.05rem;
  height: 1px;
  border-style: solid none none;
  border-width: 0.25rem;
  overflow-y: visible;
  width: auto;
}
h1 {
  margin: auto auto 0.5rem auto;
}
h3 {
  margin: auto auto 0.4rem auto;
}
h4 {
  margin: auto auto 0.3rem auto;
}

.github-link {
  margin-top: auto;
  margin-bottom: 0px;
  display: flex;
  align-self: flex-end;
}

.github-icon {
  width: 40px;
  height: auto;
}

.headshot {
  float: left;
  height: fit-content;
  position: relative;
  margin: -1.25rem 0.25rem 0.25rem -1.25rem;
}
.headshot img {
  max-width: 300px;
  height: auto;
  box-shadow: #494949 4px 2px;
}

.contact-links img {
  margin: 1rem;
  height: 40px;
  width: 40px;
}

.about-links img {
  margin: 1rem;
  height: 30px;
  width: 30px;
}
.about-links {
  margin-right: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
