.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px;
  max-height: 30px;
  text-align: center;
  border-top: 1px solid #777;
  color: white;
  background-color: #333;
}
