nav {
  max-width: 1280px;
  flex: 0 1 5dvh;
  padding: 0.5rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  overflow-y: visible;
  transition: all 1s ease;
  z-index: 1;
}

nav > ul {
  max-width: 1280px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: min-content;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-block: 0;
}
ul > * {
  display: contents;
}

.logo {
  grid-column: 1 / span 2;
  grid-row: 1;
}
.nav-item {
  grid-column: auto;
}
.nav-item + .logo {
  display: grid;
  grid-row: 1;
  justify-content: center;
  align-items: stretch;
}

.nav-item > a {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;
  margin: 0 0;
}

.nav-expand-button {
  visibility: hidden;
  display: none;
  grid-column: 3;
}

#bondyes {
  margin: 0 0 0 0;
  text-wrap: nowrap;
}
@media (max-width: 544px) {
  nav .nav-item button {
    border-radius: 0;
    border: none;
    flex: 0 1 0;
    overflow: hidden;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .nav-item > a {
    display: flex;
    flex-direction: column;
    flex: 0 1 0;
    margin: 0;
    padding: 0;
    transition: all 1s;
    border: none;
    align-items: center;
    justify-content: center;
  }

  .nav-expand-button {
    grid-column: 2;
    visibility: visible;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
  }
  .nav-expand-button button {
    width: 100%;
    border-radius: 0;
    padding: 1rem 0;
    margin: 0;
  }
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
  }
  li.expanded.nav-item > a > button {
    padding: 1rem 0;
    margin: 0;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .expanded.nav-item * {
    display: inline-block;
    align-items: stretch;
    border: none;
  }

  .nav-item.expanded {
    display: block;
    grid-column: 2;
    grid-row: auto;
  }
  nav > ul {
    display: contents;
    background-color: rgba(0, 0, 0, 0.5);
    display: grid;
    grid-template-columns: max-content min-content;
    grid-auto-rows: min-content;
    flex: 0 1 0;
    padding: 0;
  }
}
