nav {
  width: 100%;
  display: flex;
  flex: 0 0 50px;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  overflow-y: visible;
}

nav > ul {
  max-width: 1280px;
  display: flex;
  flex-direction: row;
  flex: auto;
  justify-content: space-around;
  align-items: center;
  padding: 0 20px;
  list-style: none;
  height: 50px;
}
nav > ul > li {
  margin-left: 0;
  margin-right: 0;
}
